<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/AuthPage/HaruPpojakIntro.css">
    <script src="/static/js/AuthPage/HaruPpojakIntro.js" defer></script>
    <title>Document</title>
</head>
<body onload="redirectToLoginMenu()">
    <div class="HPIntroBox">
        <h1 class="HPIntroTitleBox">
            <div class="HPIcon">ㅇ</div>
            <div class="HPTitle">하루뽀짝</div>
        </h1>
        <div class="HPIntroComment">
            <div>매일 조금씩 뽀짝뽀짝</div>
            <div>굿모닝을 위한 당신의 <span class="MiracleEveningTxt">미라클이브닝</span> 도우미</div>
        </div>
    </div>
</body>
</html>